PORT
MONGO_URI_LOCAL

LOG_LEVEL

NODE_ENV

JWT_SECRET

Jwt_expires_in

COOKIE_EXPIRE

SSLCZ_STORE_ID=
SSLCZ_STORE_PASSWD=
SSLCZ_CURRENCY=
SSLCZ_SUCCESS_URL=
SSLCZ_FAIL_URL=
SSLCZ_CANCEL_URL=
SSLCZ_IPN_URL=
SSLCZ_INIT_URL=